section#intro
  h1
    span="Spawned Shelter"
  p="Learning about Erlang development is not easy — especially since great resources on how to do this are hard to find. This page is a collection of the best articles, videos and presentations we've found on the topic."

section#toc
  ol
    li
      a="Why Erlang?"
