@import "_nib"
@import "_normalize"

global-reset()
reset-html5()

html
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  overflow: auto
  overflow-y: scroll

body
  font 12px Helvetica, Arial, sans-serif
  margin: 0
  padding: 0
  height: 100%
  width: 100%

ol
  list-style-type: decimal

#intro
  background-color: #be2826
  height: 100%

#toc
  height: 100%