<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spawned Shelter</title>

        <link href="./style.css" rel="stylesheet" type="text/css">

        <link href='https://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    </head>

    <body>
        <section id="header">
            <section id="intro">
                <h1>Spawned Shelter!</h1>

                <article id="intro-text">
                    <p>
                        Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per.
                    </p>
                </article>
            </section>
        </section>
        <section id="toc">
            $toc$
        </section>
        <section id="content">
            $body$
        </section>
        <section id="footer"></section>
    </body>
</html>
