<!DOCTYPE html>
<html>
    <head>

        <title>Spawned Shelter - Erlang and Elixir training with the the best articles, videos and books for learning Erlang, the internals of its virtual machine and other languages that run on top of it</title>
        <meta name="author" content="Federico Carrone">
        <!-- facebook graph -->
        <meta property="og:title" content="Spawned Shelter"/>
        <meta property="og:description" content="The best articles, videos and books for learning Erlang, the internals of its virtual machine and other languages that run on top of it"/>
        <meta property="og:url" content="http://spawnedshelter.com/index.html"/>
        <meta property="og:image" content="https://raw.githubusercontent.com/unbalancedparentheses/spawnedshelter/master/screenshot.png"/>
        <!-- favicon -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="./favicon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicon-152.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./favicon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="./favicon-120.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./favicon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./favicon-72.png">
        <link rel="apple-touch-icon-precomposed" href="./favicon-57.png">

        <link href="./style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Creepster|Montserrat" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    </head>

    <body>
        <a href="https://github.com/unbalancedparentheses/spawnedshelter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
        <section id="header">
            <section id="intro">

                <div id="moon"></div>

                <section id="intro-content">
                    <h1>Spawned Shelter!</h1>

                    <article id="intro-text">
                        <p>Erlang is a programming language that was designed to create reliable, evolvable and low latency systems. It facilitates the job of engineers building fault tolerant and maintainable systems. That is why, in contrast to most programming languages, fault tolerance, concurrency, distribution and tracing were built into the core language from the beginning.</p>
                    </article>
                </section>
            </section>

            <div id="wolf"></div>
        </section>

        <section id="toc">
            <div id="monsters"></div>

            <section id="toc-text">
                <p>
                    This page is a collection of the best articles, videos and books for learning Erlang, the internals of its virtual machine and  other languages that run on top of it like Elixir, LFE and Efene.
                </p>
                $toc$
            </section>
        </section>

        <section id="content">
            $body$
        </section>

        <section id="footer">
            <div id="container">
                <section id="footer-text">
                    <section id="created-by">
                        <h1>Spawned by</h1>

                        <ul>
                            <li>
                                <a href="http://federicocarrone.com/">Federico Carrone</a>
                            </li>

                            <li>
                                <a href="https://manuelolmos.github.io/resume/">Manuel Olmos</a>
                            </li>
                        </ul>
                    </section>

                    <section id="thanks">
                        <h1>Thanks to</h1>
                        <ul>
                            <li>
                                <a href="http://superherojs.com/">Superhero.js</a>
                            </li>

                            <li>
                                <a href="http://inaka.net/">
                                    Inaka
                                </a>
                            </li>
                            <li>
                                <a href="https://www.erlang-solutions.com/">
                                    Erlang Solutions
                                </a>
                            </li>
                            <li>
                                <a href="http://about.me/elbrujohalcon">
                                    Fernando 'Brujo' Benavides
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/igaray">
                                    Iñaki Garay
                                </a>
                            </li>
                        </ul>
                    </section>
                </section>

                <div id="vampire"></div>
            </div>
        </section>
    </body>
</html>
