body
  height: 100%
  padding: 0
  margin: 0

#header
  min-height: 100%
  background-color: #7a1e99
  background-image: url("./img/wolf.png")
  background-repeat: no-repeat
  background-position: right top
  box-sizing: border-box
  background-size: auto 100%

#header #intro
  font-size: 30px
  color: white

#header h1
  margin: 0
  color: white
  font-size: 100px

#toc
  min-height: 100%
  background-color: #612A81
  background-image: url("./img/vampire.png")
  background-repeat: no-repeat
  background-position: left top
  box-sizing: border-box
  background-size: auto 100%