phone = 480px
desktop = 1025px

html, body
 margin: 0
 padding: 0
 height: 100%
 width: 100%
 font-size: 16px

// header
#header
  background-color: #242D4A
  display: flex
  flex-direction: row
  align-items: flex-start

  @media screen and (min-width: desktop)
    min-height: 100%

#header #intro
  flex-basis: 100%
  color: white
  padding: 1em

  @media screen and (min-width: phone)
    padding: 2em

  @media screen and (min-width: desktop)
    align-self: flex-end
    flex-basis: 45%
    padding-top: 50px
    padding-left: 50px

#header h1
  font-family: 'Creepster'
  font-size: 3em
  text-shadow: 3px 1px 2px rgba(0,0,0,0.5)
  letter-spacing: 5px
  color: #E9B427
  margin: 0

  @media screen and (min-width: desktop)
    font-size: 4em

#header #intro-text
  margin: 0
  line-height: 1.45
  font-family: 'Montserrat'

  @media screen and (min-width: desktop)
    font-size: 20px

#header #intro-text p
  margin-top: 10px

#header #wolf
  flex-basis: 55%
  align-self: flex-end
  display: none

  @media screen and (min-width: desktop)
    display: initial

#header #wolf img
  max-width: 100%
  max-height: 100%
  float: right

// toc
#toc
  display: flex
  background-color: #BB2518

#toc #monsters
  display: none

  @media screen and (min-width: desktop)
    display: initial
    flex: 1
    background-image: url("./img/zombies.png")
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    background-position-x: 25%

#toc #toc-text
  color: white
  font-family: 'Montserrat'
  line-height: 1.45
  padding: 1em
  margin: 0px

  @media screen and (min-width: phone)
    padding: 2em
  @media screen and (min-width: desktop)
    flex: 1
    font-size: 20px

#toc ul
  list-style-type: decimal
  margin: 0px

#toc li
  margin-bottom: 0.75em

#toc ul a
  text-decoration: none
  color: white

// content
#content
  margin: 4em 1em
  max-width: 800px

  @media screen and (min-width: desktop)
    margin: 4em auto

#content .level2
  padding: 0 2em
  padding-bottom: 2em

#content h2
  margin: 0
  font-family: 'Creepster'
  font-size: 1.8em
  letter-spacing: 2px
  color: #BB2518

#content ul
  padding: 0
  font-size: 14px
  list-style-type: decimal

  @media screen and (min-width: phone)
    font-size: 16px

  @media screen and (min-width: desktop)
    font-size: 18px

#content li
  padding: 0.5em 0

#content a
  color: #384673
  text-decoration: none

// footer
#footer
  background-color: #5e2979
  padding: 2em
  color: white

  @media screen and (min-width: desktop)
    font-size: 18px

#footer #container
  display: flex
  margin: 0 auto
  max-width: 800px

#footer #footer-text
  @media screen and (min-width: desktop)
    flex: 1

#footer h1
  font-family: 'Creepster'
  letter-spacing: 3px

#footer ul
  padding: 0

#footer li
  display: inline-block
  background-color: #242D4A
  padding: 8px
  margin: 5px
  list-style: none
  border-bottom: 3px solid #5B73C1

#footer a
  color: white
  text-decoration: none

#footer #vampire
  display: none

  @media screen and (min-width: desktop)
    flex: 1
    display: initial
    background-image: url("./img/vampire.png")
    background-size: contain
    background-repeat: no-repeat
    background-position: center